* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'sans-serif';
}

/* repeated Classes */
.blue-Button {
  background-color: #0c8bfd;
  color: #ffffff;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.text-blue {
  color: #0c8bfd;
}

.text-grey {
  color: #777676;
}

.blue-button {
  background-color: #0c8bfd;
  color: #ffffff;
}
.text-black {
  color: #111010;
}
.text-white {
  color: #ffffff;
}
.bg-black {
  background-color: #111010;
}

/* NAV */
nav,
header {
  background-color: #111010;
  padding-top: 30px;
}

.logo > img {
  cursor: pointer;
  transition: all 500ms ease-in;
}

.logo > img:hover {
  transform: scale(1.2);
}

.nav-items {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  color: #908f8f;
  font-size: 1.2rem;
  font-weight: 500;
}

.nav-item {
  padding-right: 40px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}
.nav-item:hover {
  transform: scale(1.2);
  color: #ffffff;
}

.navButton {
  padding: 10px 35px;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 30px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.navButton:hover {
  transform: scale(1.2);
  background-color: #ffffff;
  color: #0c8bfd;
}

/* Header */

.header {
  padding: 100px;
}

.text-white {
  color: #ffffff;
}

.text-white.heading {
  font-size: 5rem;
  font-weight: 500;
}

.italic {
  font-style: italic;
}

.text-grey.headerpara {
  margin-top: 5%;
  font-size: 1.6rem;
}

.blue-button.getStarted {
  margin-top: 80px;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 30px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.blue-button.getStarted:hover {
  transform: scale(1.2);
  background-color: #ffffff;
  color: #0c8bfd;
}

.transparent-button {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  margin-left: 20px;
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 30px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.transparent-button:hover {
  transform: scale(1.2);
  background-color: #ffffff;
  color: #000000;
}

/* LogoBar */
.logoBar {
  background-color: #1d1c1c;
  padding: 40px;
}

.logoBar > img {
  cursor: pointer;
}

.logoBar > img:hover {
  animation: shake 400ms;
}

@keyframes shake {
  25% {
    transform: rotate(15deg);
  }

  75% {
    transform: rotate(-15deg);
  }
}

/* White Section */
.bg-white {
  margin: 150px 0px;
  background-color: #fff;
}

.top-section {
  text-align: center;
}
.text-black.heading {
  font-size: 55px;
  font-weight: 500;
}
.text-grey.paragraph {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
}

/* CARD */
.lower-section {
  display: flex;
  margin-left: 120px;
  margin-top: 100px;
}
.card {
  padding: 30px;
  padding-bottom: 60px;
  border: 3px solid #cdcdcd;
  border-radius: 30px;
  margin: 30px;
  width: 300px;
  text-align: center;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.card:hover {
  transform: scale(1.2);
  box-shadow: 0px 7px 9px #cdcdcd;
}
.card > h1 {
  margin-top: 20px;
  font-weight: 500;
}

.card > p {
  margin-top: 20px;
  font-size: 19px;
}

.card.bg-black {
  background-color: #111010;
  border: none;
  margin-top: -40px;
  margin-bottom: 60px;
  box-shadow: 0px 7px 10px #111010;
}

.card.bg-black:hover {
  transform: scale(1.2);
  box-shadow: 0px 7px 9px #111010;
}

/* White Section */
.text-black.belowCardheading {
  text-align: left;
  margin-left: 140px;
  margin-right: 450px;
  font-size: 45px;
  font-weight: 500;
}

/* LEFT SIDE */
.button-flex {
  display: flex;
  flex-direction: column;
}

.blue-Button.bigButton.blue {
  border: none;
}

.bigButton {
  text-align: left;
  padding: 20px 20px;
  margin: 20px;
  font-size: 30px;
  font-weight: 500;
  border-radius: 50px;
  border: 2px solid #aeadad;
  background-color: transparent;
  color: #2c2b2b;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}
.bigButton:hover {
  transform: scale(1.1);
  box-shadow: 0px 7px 9px #aeadad;
}
.bigButton.blue {
  background-color: #0c8bfd;
  color: #ffffff;
  border: none;
}
.bigButton.blue:hover {
  box-shadow: 0px 7px 9px #0c8bfd;
}

.float-right {
  float: right;
  padding-left: 1rem;
}

/* RIGHT SIDE */
.right-side.bg-black {
  border-radius: 30px;
  padding: 20px;
}

.bg-gray.text-white::before {
  content: '';
  display: inline-block;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  background-color: #d9d9d9;
  margin-right: 20px;
}

.bg-gray.text-white {
  background-color: #292828;
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 300ms ease-in;
}
.bg-gray.text-white:hover {
  transform: scale(1.1);
  box-shadow: 0px 2px 9px #d9d9d9;
}

/* PLAN Section */
/* Image Section */
.ImageSection {
  padding-top: 150px;
  display: flex;
  margin-left: 150px;
}

.ImageSection > img {
  padding-left: 80px;
  padding-right: 80px;
  animation: scroll 1s infinite linear;
}

@keyframes scroll {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-20px);
  }
}

.ImageSection > h1 {
  font-size: 50px;
  margin-top: -50px;
  font-weight: 500;
  margin-left: 30px;
  text-align: center;
}

/* PLAN CARDS */
.PlanCard {
  display: flex;
  justify-content: space-around;
  margin: 60px;
  padding-bottom: 100px;
}

.plan {
  background-color: #ffffff;
  border-radius: 30px;
  padding: 20px;
  margin: 40px;
  width: 450px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}
.plan:hover {
  transform: scale(1.1);
}

.planHeading {
  padding: 10px;
  font-size: 40px;
  font-weight: 500;
}

.planPrice {
  padding: 10px;
  font-weight: 500;
  font-size: 60px;
}

.small-text {
  font-size: 28px;
  margin-left: -10px;
}

.paragraph {
  font-weight: 500;
  margin: 10px;
  font-size: 17px;
}

.line {
  background-color: #e9e9e9;
  margin: 25px 0px;
}

.whiteline {
  background-color: #ffffff;
  margin: 25px 0px;
}

.points {
  display: flex;
  flex-direction: column;
}

.icon {
  font-size: 18px;
  font-weight: 500;
  margin-top: 15px;
}

.icon2 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 15px;
}

.icon::before {
  content: url('../assets/Icons/blue-tick.svg');
  display: inline-block;
  margin-right: 10px;
}

.bg-blue {
  background-color: #0c8bfd;
  color: #ffffff;
}

.icon2::before {
  content: url('../assets/Icons/white-tick.svg');
  display: inline-block;
  margin-right: 10px;
}

.planButton {
  text-align: center;
  padding: 10px 120px;
  font-weight: 400;
  font-size: 25px;
  border-radius: 40px;
  border: none;
  margin-top: 55px;
  cursor: pointer;
  margin-left: 15px;
}

.planButton2 {
  background-color: #ffffff;
  color: #158ffd;
  text-align: center;
  padding: 10px 120px;
  font-size: 25px;
  font-weight: 500;
  border-radius: 40px;
  border: none;
  margin-top: 30px;
  cursor: pointer;
  margin-left: 15px;
}

.planButton3 {
  text-align: center;
  padding: 10px 120px;
  font-weight: 400;
  font-size: 25px;
  border-radius: 40px;
  border: none;
  margin-top: 30px;
  cursor: pointer;
  margin-left: 15px;
}

/* Customer Section */

.flex.customer {
  align-items: center;
}

.customerheading {
  font-size: 40px;
  margin-left: 80px;
  flex-grow: 2;
}

.customerheading > h1 {
  font-weight: 500;
}

.customerpara {
  font-size: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

/* Reviews */
.reviewSection {
  margin-left: 20px;
  margin-top: 80px;
  margin-bottom: 100px;
}

.review {
  border-radius: 25px;
  padding: 30px;
  margin: 30px;
}

.review-1 {
  background-color: #111010;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

.review-1:hover {
  transform: scale(1.05);
  box-shadow: 0px 7px 9px #111010;
}

.review-2 {
  border: 2px solid #e0dfdf;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

.review-2:hover {
  transform: scale(1.05);
  box-shadow: 0px 7px 9px #111010;
}
figcaption {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
}

cite {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  font-style: normal;
}

.customerPara {
  font-size: 25px;
  font-weight: 400;
  margin-top: 30px;
}

.stars {
  margin-top: 50px;
}

/* Last Section */

.lastSection {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.Lastheading {
  margin: 80px;
}

.text-white.singup {
  font-size: 60px;
  font-weight: 400;
}

.contactForm {
  background-color: #292828;
  margin: 120px;
  border-radius: 25px;
  padding: 40px;
}

.contactForm > input {
  background-color: #3e3d3d;
  font-size: 20px;
  padding: 15px 25px;
  border-radius: 40px;
  border: none;
}

.blue-Button.signup {
  padding: 20px 50px;
  border-radius: 40px;
  font-size: 20px;
  border: none;
}

.white-line {
  margin: 0px 120px;
  background-color: #3f3e3e;
}
.white-line2 {
  margin: 0px 120px;
  background-color: #3f3e3e;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-around;
  padding-bottom: 60px;
}
.row > h2 {
  color: #ffffff;
  font-weight: 300;
  font-size: 15px;
  margin: 10px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.row > h2:hover {
  transform: scale(1.1);
}

.row > h1 {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 20px;
}

.logo-section > img {
  margin-left: 120px;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .mobile {
    display: flex;
    flex-direction: row !important;
  }

  /* NAVBAR */
  .nav-items {
    display: none;
  }

  .logo > img:hover {
    transform: scale(1.1);
  }

  .navButton {
    padding: 0.7em 2em;
    font-size: 1rem;
    border: none;
  }

  .navButton:hover {
    transform: scale(1.1);
  }

  /* Header */
  .flex {
    flex-direction: column;
  }

  .header {
    padding: 50px 25px;
  }

  .text-white.heading {
    font-size: 2.5rem;
  }

  .text-grey.headerpara {
    margin-top: 10%;
    font-size: 1.5rem;
  }

  .blue-button.getStarted {
    padding: 1em 2em;
    font-size: 1rem;
    border: none;
  }

  .blue-button.getStarted:hover {
    transform: scale(1.1);
  }

  .transparent-button {
    margin: 10% 0%;
    padding: 1rem 2.2rem;
    font-size: 1rem;
  }

  .transparent-button:hover {
    transform: scale(1.1);
  }

  .left-side > div {
    display: flex;
    flex-direction: column;
  }

  .right-side > img {
    margin-top: 15%;
    width: 280px;
    padding: 1rem;
  }

  .logoBar {
    display: flex;
    flex-direction: row !important;
    padding: 20px;
  }

  .logoBar > img {
    width: 60px;
    padding: 0px 10px;
  }

  /* White Section */
  .bg-white {
    margin: 0px;
    background-color: #ffffff;
  }

  .text-black.heading {
    padding-top: 15%;
    font-size: 2rem;
    font-weight: 500;
  }

  /* CARD */
  .lower-section {
    flex-direction: column;
    margin: 70px 40px -30px 40px;
  }

  .card {
    padding: 10px;
    padding-bottom: 40px;
    margin: 0px 0px 80px 0px;
    width: 270px;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .card > p {
    margin-top: 20px;
    font-size: 1rem;
  }

  .card.bg-black {
    margin-top: 0px 0px 60px 0px;
  }

  .card.bg-black:hover {
    transform: scale(1.05);
  }

  /* WHITE SECTION */
  .bg-white {
    background: #fff;
  }

  .text-black.belowCardheading {
    text-align: center;
    margin: 10px 20px;
    font-size: 2rem;
    margin-bottom: 0px;
  }

  .button-flex {
    margin-top: -30px;
  }

  .bigButton {
    margin: 10px 0px;
    font-size: 1rem;
    font-weight: 500;
  }
  .smallSize > img {
    margin-top: -15px;
  }
  .bigButton:hover {
    transform: scale(1.05);
    box-shadow: 0px 7px 9px #aeadad;
  }

  .float-right {
    float: right;
    padding-left: 1rem;
    width: 30px;
  }

  /* RIGHT SIDE */
  .right-side.bg-black {
    margin: 20% 0%;
    padding: 20px;
  }

  .bg-gray.text-white.dot {
    display: flex;
  }
  .bg-gray.text-white.dot::before {
    margin-top: 13px;
    height: 20px;
    width: 25px;
  }

  .bg-gray.text-white {
    font-size: 1rem;
    margin: 20px 0px;
    padding: 10px;
  }
  .bg-gray.text-white:hover {
    transform: scale(1.05);
  }
  /* PLAN SECTION */
  /* Image Section */
  .ImageSection {
    padding-top: 40px;
    margin: 0px 20px;
  }

  .ImageSection > img {
    padding: 50px 0px;
    width: 40px;
  }

  .ImageSection > h1 {
    font-size: 1.2rem;
    margin-top: 20px;
    margin-left: 0px;
  }

  /* Plan Card */
  .PlanCard {
    flex-direction: column;
    margin: 10px 20px;
  }

  .plan {
    margin: 30px 0px;
    width: 280px;
  }
  .plan:hover {
    transform: scale(1.05);
  }

  .planHeading {
    font-size: 1.5rem;
  }

  .planPrice {
    font-size: 2rem;
  }

  .small-text {
    font-size: 1.5rem;
  }

  .paragraph {
    font-size: 0.9rem;
  }

  .planButton,
  .planButton2,
  .planButton3 {
    padding: 10px 100px;
    font-size: 1.5rem;
    margin-top: 35px;
    margin-left: 0px;
  }
  .icon2,
  .icon {
    display: flex;
  }

  /* Customer Section */
  .customer {
    background-color: #ffffff;
    padding: 40px 10px;
  }
  .customerheading {
    font-size: 1.5rem;
    margin-left: 20px;
  }

  .customerpara {
    font-size: 20px;
    margin: 20px 20px;
  }

  /* Reviews */
  .reviewSection {
    margin: 30px 0px;
  }

  .review {
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
  }

  .customerPara {
    font-size: 1rem;
    margin-top: 30px;
  }

  .stars {
    margin-top: 40px;
  }
  .review-2 {
    background-color: #fff;
  }

  /* LAST SECTION */
  .lastSection {
    text-align: center;
    padding: 40px 0px;
  }
  .Lastheading {
    margin: 10px;
  }
  .text-white.singup {
    font-size: 1.5rem;
  }
  /* CONTACT */
  .contactForm {
    margin: 20px;
    padding: 20px;
  }

  .contactForm > input {
    font-size: 0.8rem;
    padding: 15px 25px;
    border-radius: 40px;
    margin: 20px 0px;
    border: none;
  }

  .blue-Button.signup {
    margin: 20px 0px;
    padding: 10px 30px;
    border-radius: 40px;
    font-size: 1rem;
    border: none;
  }

  /* WHITE LINE */
  .white-line {
    margin: 40px 20px;
  }

  /* Footer */
  footer {
    flex-direction: column;
    padding: 0px 0px 20px 30px;
    margin-top: -40px;
  }

  .white-line2 {
    margin: 0px 20px;
  }
}
