* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', 'sans-serif';
}

.bg-image {
  background-image: linear-gradient(rgba(81, 83, 87, 0.999), rgba(13, 13, 13, 0.999)), url('../Assets/Photos/futuristic-bg.png');
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-blend-mode: overlay;
}

/* Repeated Classes */
.bg-transparent {
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.bg-orange {
  background-color: #f4694c;
  color: #ffffff;
  cursor: pointer;
  transition: all 500ms ease-in-out;
  border: none;
}

.big-button {
  padding: 15px 30px;
  font-size: 20px;
}

.text-white {
  color: #ffffff;
}

.text-grey {
  color: #808080;
}

.text-black {
  color: #121212;
}
.text-orange {
  color: #f4694c;
  font-size: 18px;
  font-weight: 500;
  margin: 15px 0px;
}

.bg-black {
  background-color: #000308;
  margin-top: 30px;
}

.flex {
  display: flex;
  justify-content: space-around;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
}

.logo > img {
  cursor: pointer;
  transition: all 600ms ease-in-out;
}

.logo > img:hover {
  transform: scale(1.2);
}

.nav-items {
  color: #ffffff;
  display: flex;
  list-style-type: none;
  font-size: 20px;
  margin-left: -100px;
}

.nav-item {
  padding-right: 30px;
  font-weight: 500;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.nav-item:hover {
  transform: scale(1.2);
  color: #b9b5b5;
}

.buttons {
  margin-top: -5px;
}

.nav-button {
  padding: 10px 25px;
  font-size: 20px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
  border: none;
}

.buttons .bg-orange.nav-button:hover,
.headerButton:hover {
  transform: scale(1.2);
  background-color: #ffffff;
  color: #f4694c;
}

.buttons .bg-transparent.nav-button:hover,
.headerButton.white:hover {
  transform: scale(1.2);
  background-color: #ffffff;
  color: #000308;
}

.buttons .bg-transparent.nav-button {
  border: 1px solid #ffffff;
  padding: 13px 25px;
  margin-right: 1rem;
}

/* Header */
header {
  display: flex;
  justify-content: space-around;
  margin-top: 90px;
}

/* Left Section */

.heading {
  font-size: 50px;
  line-height: 80px;
}

.headerpara {
  line-height: 30px;
  margin-top: 20px;
}

.headerButton {
  margin-top: 50px;
}

.headerButton.white {
  border: 1px solid #ffffff;
  margin-right: 0px;
}

/* Right Section */
.playButton {
  margin-top: 100px;
  margin-bottom: 150px;
}

.DashIcon + span {
  font-size: 25px;
}

.arrow {
  margin-left: 40px;
}

/* Game Section */
.gameSection {
  margin: 150px 70px;
  text-align: center;
}
.gameSection > h1 {
  font-size: 50px;
  font-weight: 700;
}

/* CARD */
.game-cards {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
}

.card.hover {
  transition: all 500ms ease;
  cursor: pointer;
}

.card.hover:hover {
  transform: scale(1.06);
  filter: sepia(0.1);
  filter: saturate(2.2);
}

.card > .img {
  position: relative;
  z-index: -1;
  width: 320px;
  height: 230px;
  transition: filter 0.9s ease;
}

/* .card > img:hover {
  cursor: pointer;
  filter: sepia(0);
  filter: saturate(2.5);
} */

/* CARD BG */
.bg-card1,
.bg-card2,
.bg-card3,
.bg-card4 {
  z-index: 1;
  margin-top: -40px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bg-card1 {
  background-color: #464b4d;
}

.bg-card2 {
  background-color: #25241c;
}

.bg-card3 {
  background-color: #4a435d;
}

.bg-card4 {
  background-color: #615652;
}

.card-text > .text-white {
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0px;
}

.card-text > .text-grey {
  font-weight: 500;
  margin: 5px 0px;
}

.card-text > img {
  margin: 7px 0px;
  margin-bottom: 15px;
}

.bg-orange.card-button {
  padding: 10px 25px;
  font-size: 15px;
  border: none;
}

.bg-orange.card-button.card:hover {
  transform: scale(1.2);
  box-shadow: 0px 7px 9px #353333;
}

/*EXPLORE SECTION  */
.explore {
  margin: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.explore > div > img {
  width: 600px;
  height: 500px;
  margin-right: 80px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.explore > div > img:hover {
  transform: scale(1.1);
  filter: sepia(0.1);
  filter: saturate(1.6);
}

.explore > div > .text-black {
  font-size: 54px;
  font-weight: 600;
  font-family: 'Poppins';
}

.explore > div > .text-grey {
  margin-top: 10px;
  line-height: 40px;
  font-weight: 500;
  margin-bottom: 50px;
}

.buttons > .bg-orange {
  padding: 15px 35px;
  font-size: 20px;
  border: none;
  margin-right: 30px;
  transition: all 500ms ease-in-out;
}
.buttons > .bg-orange:hover {
  transform: scale(1.2);
  box-shadow: 0px 7px 9px #353333;
  background-color: #000308;
}

.buttons > .bg-transparent.text-white {
  padding: 15px 35px;
  font-size: 20px;
  color: #f4694c;
  border: 1px solid #f4694c;
}

.buttons > .bg-transparent.text-white:hover {
  transform: scale(1.2);
  box-shadow: 0px 7px 9px #353333;
  background-color: #000308;
  color: #ffffff;
  border: none;
}

/* Recommend Section */
.recommended {
  display: flex;
  justify-content: space-between;
  margin: 70px;
}

.recommended > div > .text-black {
  font-family: 'Poppins';
  font-size: 38px;
  font-weight: 700;
}

.recommended > div > button {
  border: none;
  padding: 25px 20px;
}
.lightButton {
  background-color: #fde1db;
  margin-right: 20px;
}
.darkButton {
  background-color: #f4694c;
}

/* Recommended Section Cards */
.recommended-card {
  display: flex;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
}
.recommended-card-image {
  margin-right: 40px;
  width: 250px;
  height: 300px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.recommended-card-image:hover {
  transform: scale(1.1);
  box-shadow: 0px 7px 9px #999999;
  filter: sepia(0.1);
  filter: saturate(2.2);
}

.card-details > .text-black {
  font-size: 30px;
}

.bg-orange.card-button {
  margin-top: 20px;
  padding: 15px 35px;
  font-size: 20px;
  border: none;
}

.bg-orange.card-button:hover {
  margin-top: 20px;
  padding: 15px 35px;
  font-size: 20px;
  border: none;
}

/* BLACK SECTION */
.bg-black > .text-white {
  text-align: center;
  padding-top: 50px;
  font-size: 50px;
}

section > .flex {
  margin-top: 100px;
  margin-left: 100px;
}
.images-section > img {
  margin-right: 60px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
  width: 400px;
}

.images-section > img:hover {
  transform: scale(1.1);
  filter: sepia(0.1);
  filter: saturate(1.5);
}

.gameOfWorld {
  z-index: -4;
  margin-left: -75px;
  margin-top: 100px;
  width: 1000px !important;
}

.devilgirl {
  width: 300px;
  height: 400px;
  margin-left: 50px;
  margin-top: -50px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}
.devilgirl:hover {
  transform: scale(1.1);
  filter: sepia(0.1);
  filter: saturate(1.2);
}

.archiman {
  width: 300px;
  margin-left: 90px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.archiman:hover {
  transform: scale(1.1);
  filter: sepia(0.1);
  filter: saturate(1.5);
}

/* CSS */
.unforgettable {
  margin-top: 150px;
  height: 500px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../Assets/Photos/Rectangle\ 606.png);
  background-position: center;
  background-size: cover;
}

.unforgettable-content {
  text-align: center;
}

.unforgettable-content h2 {
  color: white;
  font-family: 'Poppins';
  padding-top: 3em;
  font-size: 40px;
  padding-bottom: 0.5em;
}

.unforgettable-content p {
  color: #8d8d8f;
  padding-left: 1em;
  padding-bottom: 3em;
}

footer {
  background-color: black;
  color: white;
}

.footer-lists {
  display: flex;
  justify-content: center;
  gap: 8em;
}

.footer-lists li {
  color: #86878b;
  list-style: none;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1em;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.footer-lists li:hover {
  color: #dfdfdf;
  transform: scale(1.1);
}

.footer-listone p {
  color: #86878b;
  font-size: 1rem;
  font-weight: lighter;
  margin-bottom: 1em;
  cursor: pointer;
}
.articles,
.leagues,
.team,
.get-in {
  margin-top: -30%;
}

.footer-listone p:hover {
  color: #dfdfdf;
}

.footer-lists h4 {
  cursor: pointer;
  font-size: 1.1rem;
  margin-bottom: 1.5em;
  /* color: #86878b */
}

.footer-listone img {
  margin-bottom: 1em;
}

.icons img {
  cursor: pointer;
  margin-right: 0.5em;
  transition: all 200ms ease-in-out;
}

.icons img:hover {
  transform: scale(1.2);
}

.footer-line {
  border: 0;
  height: 2px;
  background: #202d39;
  margin: auto;
}

.line {
  padding-top: 1.5em;
  padding-bottom: 4em;
}

/* MEDIA QUERY */

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
    background-color: #ffffff;
  }

  /* NAV */
  nav {
    justify-content: flex-start;
  }
  .nav-items {
    display: none;
  }

  nav > .buttons {
    display: none;
  }

  /* Header */
  header {
    flex-direction: column;
    margin: 20px 20px;
  }

  /* LEFT SECTION */

  .heading {
    font-size: 1.8rem;
    line-height: 40px;
  }

  .NavigationButton {
    display: flex;
    flex-direction: column;
  }

  .headerButton.white {
    margin-left: 0px;
  }
  .NavigationButton > button:hover {
    transform: scale(1.1) !important;
  }

  /* RIGHT SECTION */
  .header-right {
    text-align: center;
  }

  .playButton {
    margin: 50px 20px;
  }

  .arrow {
    margin-left: 10px;
  }

  .bg-image {
    height: 140vh;
  }

  /* GAME SECTION */
  .gameSection {
    text-align: center;
    margin: 20px 10px;
  }

  .gameSection > h1 {
    font-size: 2rem;
  }

  /* CARDS */
  .game-cards {
    flex-direction: column;
  }

  .card.hover {
    transition: all 500ms ease;
    cursor: pointer;
    margin: 20px 0px;
  }

  .card-text > .text-white {
    font-size: 1rem;
  }

  .bg-card1,
  .bg-card2,
  .bg-card3,
  .bg-card4 {
    width: 321px;
    margin-left: 8px;
  }

  .bg-orange.card-button {
    padding: 10px 25px;
    font-size: 1rem;
  }

  /*EXPLORE SECTION  */
  .explore {
    margin: 50px 20px;
    flex-direction: column;
  }

  .explore > div > img {
    width: 330px;
    height: 330px;
    margin-right: 0px;
  }

  .explore > div > img:hover {
    transform: scale(1.05);
  }

  .explore > div > .text-black {
    margin: 20px 0px;
    font-size: 1.5rem;
  }

  .explore > div > .text-grey {
    line-height: 30px;
  }

  .explore > div > .buttons {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .buttons > .bg-orange,
  .bg-transparent {
    margin: 5%;
  }
  .buttons > .bg-orange:hover {
    transform: scale(1.1);
  }

  .buttons > .bg-transparent.text-white {
    margin-right: 20px;
  }

  .buttons > .bg-transparent.text-white:hover {
    transform: scale(1.1);
  }

  /* RECOMMENDATION SECTION */
  .recommended {
    flex-direction: column;
    margin: 20px;
  }

  .recommended > div > .text-black {
    font-size: 2rem;
  }
  .lightButton,
  .darkButton {
    margin-top: 15px;
  }
  /* CARD */

  .recommended-card {
    flex-direction: column;
    margin: 50px;
  }

  .recommended-card-image {
    margin: -30px 40px 20px 0px;
  }
  .extra {
    margin-top: -80px;
  }

  .recommended-card-image:hover {
    transform: scale(1.1);
  }

  /* Most PLayed game  */
  .bg-black > .text-white {
    font-size: 2rem;
    margin-bottom: -20%;
  }

  section > .flex {
    margin-left: 20px;
    flex-direction: column;
  }

  .images-section > img,
  .devilgirl,
  .archiman {
    margin: 20px;
    margin-left: 8px;
    width: 300px;
  }

  .images-section > img:hover,
  .devilgirl:hover,
  .archiman:hover {
    transform: scale(1.05);
  }

  .gameOfWorld {
    display: none;
  }

  .flex > div > .text-grey {
    margin: 10%;
  }

  /* Unforget */
  .unforgettable {
    margin-top: -10%;
  }
  .unforgettable-content > h2 {
    font-size: 2rem;
  }
  .unforgettable-content > p {
    font-size: 1rem;
  }

  /*Footer  */

  .footer-lists {
    flex-direction: column;
    margin-left: 50px;
  }

  .footer-listone img {
    margin-top: 20px;
  }
}
