* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #151515;
  font-family: 'Montserrat';
  overflow-x: hidden;
}

/* NAV */
.flex {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  color: #cdcdcd;
}

.logo {
  margin-left: -30px;
  cursor: pointer;
  transition: all 600ms ease-in-out;
}
.logo:hover {
  transform: scale(1.2);
}

.nav-links {
  list-style-type: none;
  cursor: pointer;
  display: flex;
}

li {
  padding-right: 4rem;
  margin-top: 15px;
  font-size: 1rem;
  font-weight: 700;
  transition: all 500ms ease-in-out;
}

li:hover {
  color: #808080;
  transform: scale(1.2);
}

button,
.contact {
  background: none;
  border: none;
  color: #cdcdcd;
  font-weight: 700;
  margin: 15px;
  font-size: 1rem;
}

.btn-pink {
  position: absolute;
  top: 32px;
  right: 205px;
}

.engButton {
  margin-right: 40px;
  transition: all 400ms ease-in;
  cursor: pointer;
}

.engButton:hover {
  color: #808080;
  transform: scale(1.2);
}

.contact {
  transition: all 400ms ease-in;
  cursor: pointer;
}

.contact:hover {
  color: #808080;
  transform: scale(1.2);
}

/* HERO SECTION */
.text-white {
  color: #ffffff;
  margin-left: 90px;
  font-weight: 700;
}

h1.text-white.large-Heading {
  margin-top: 80px;
  font-size: 80px;
}

.text-pink {
  color: #f637ec;
  font-weight: 900;
}

.text-gray {
  color: #a8a8a8;
  font-size: 20px;
  font-weight: 500;
  margin-left: 90px;
  line-height: 35px;
}
p.text-gray.top-Para {
  margin-top: 60px;
}

/* Back Image */
.shadowCards {
  position: absolute;
  top: 50px;
  right: 0;
}

/* Front Image */
.frontCards {
  position: absolute;
  width: 800px;
  top: 130px;
  right: -50px;
}

.pink-button {
  margin-top: 80px;
  font-size: 25px;
  text-transform: uppercase;
  margin-left: 140px;
  font-weight: 700;
}

.pink-button-image {
  width: 80px;
  position: absolute;
  left: 90px;
  top: 550px;
  z-index: -1;
}

/* Below Button */
.belowButton {
  display: flex;
  margin-left: 90px;
  margin-top: 200px;
  margin-bottom: 150px;
  color: #ffffff;
  font-size: 30px;
}
.userSection {
  display: flex;
}

.experienceSection {
  display: flex;
}

.text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-left: 20px;
}

.belowButton > img {
  margin: 0px 50px;
}

/*LogoBar  */
.logoBar {
  background-color: #292929;
  display: flex;
  justify-content: space-around;
}
.logoBar > img {
  padding: 60px;
}

/* Payment */
.paymentSection {
  display: flex;
  justify-content: space-evenly;
  margin-left: 90px;
  margin-top: 190px;
}

.paymentHeading {
  color: #ffffff;
  font-size: 70px;
  font-weight: 900;
}

.textPink {
  color: #f637ec;
}

.paymentParagraph {
  margin-top: 80px;
  margin-right: 100px;
  margin-left: 100px;
  color: #cdcdcd;
  font-size: 22px;
  font-weight: 300;
  line-height: 35px;
}

/* Card Section */
.cardSection {
  display: flex;
  justify-content: space-evenly;
  margin-top: 150px;
  margin-bottom: 150px;
  text-align: center;
}

.card {
  border: 1px solid #ffffff;
  padding: 60px;
  color: #ffffff;
  background-color: #272727;
  transition: all 700ms ease-in-out;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.2);
  box-shadow: 0px 7px 10px #808080;
  border: none;
}
div.card.cardTop {
  margin-top: -60px;
  margin-bottom: 60px;
}

/* White Section */

.whiteSection {
  background-color: #fceffb;
  text-align: center;
}

.text-black {
  padding-top: 100px;
  color: #151515;
  font-size: 80px;
}

.text-Pink {
  color: #f637ec;
  font-weight: 900;
  font-size: 80px;
}

.whitePara {
  margin-top: 80px;
  font-size: 25px;
  margin-left: 300px;
  margin-right: 300px;
  color: #151515;
}

.lowSection > img {
  transform: rotate(90deg);
}

/* Customer Section */
.TopSection {
  text-align: center;
  margin-top: 90px;
}

.customerPara {
  margin-top: 80px;
  margin-right: 300px;
  margin-left: 300px;
  margin-bottom: 100px;
  color: #cdcdcd;
  font-size: 22px;
  font-weight: 300;
  line-height: 35px;
}

/* Cards */

.cards {
  display: flex;
  justify-content: space-around;
}

.customerCard {
  color: #ffffff;
  margin: 40px;
  padding: 20px;
  width: 500px;
  border: 1px solid #ffffff;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}
.customerCard:hover {
  transform: scale(1.2);
  /* box-shadow: 0px 7px 10px #808080; */
}

.customerCard {
  background-color: #1e1f24;
}

.customerCard.bgcolor {
  background-color: #4e4c4b;
}

.customerCard > img {
  margin-bottom: 30px;
}

.customerCard > h2 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}

.button-section {
  margin: 50px 0px;
  text-align: center;
}

.wide {
  background-color: rgb(214 58 164);
  height: 15px;
  width: 80px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.wide:hover {
  transform: scale(1.2);
}

.circle {
  background-color: #3a3a3a;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin: 0 6px;
  cursor: pointer;
}

.circle:hover {
  background-color: rgb(214 58 164);
  transform: scale(1.2);
}

cite {
  color: #b5b5b4;
  padding-top: 30px;
}

/* Get Started */
.pinkBg {
  margin-top: 200px;
  padding-bottom: 300px;
}

.backgroundImages {
  text-align: center;
}
.img1,
.img2 {
  width: 100%;
}

.img2 {
  position: absolute;
  left: 0;
  z-index: 2;
}

/* Diamond */

.diamondLeft {
  position: absolute;
  left: -30px;
  top: 5380px;
  z-index: 3;
}
.diamondRight {
  position: absolute;
  right: 0px;
  top: 5380px;
  z-index: 4;
}

/* TEXT */
.text-center {
  text-align: center;
  z-index: 5;
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
}

.Whitehere {
  color: #ffffff;
  font-size: 80px;
  margin-top: -400px;
  font-weight: 900;
}

.textBlack {
  color: #000000;
}

.pink-button-image2 {
  width: 80px;
  position: absolute;
  left: 550px;
  top: 270px;
  z-index: -1;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-around;
  margin-left: -200px;
  margin-bottom: 100px;
  cursor: pointer;
}
footer > img {
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.footerItems {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  color: #ffffff;
  margin-left: -150px;
}

footer > img:hover {
  transform: scale(1.2);
}
