* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #151515;
  font-family: 'Montserrat';
}

/* NAV */
.flex {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  color: #cdcdcd;
}

.logo {
  margin-left: -30px;
}

.nav-links {
  list-style-type: none;
  cursor: pointer;
  display: flex;
}

li {
  padding-right: 4rem;
  margin-top: 15px;
  font-size: 1rem;
  font-weight: 700;
}

button {
  background: none;
  border: none;
  color: #cdcdcd;
  margin: 15px;
  font-size: 1rem;
}

/* HERO SECTION */
.text-white {
  color: #ffffff;
  margin-left: 90px;
  font-weight: 700;
}

h1.text-white.large-Heading {
  margin-top: 80px;
  font-size: 80px;
}

.text-pink {
  color: #f637ec;
  font-weight: 900;
}

.text-gray {
  color: #a8a8a8;
  font-size: 20px;
  font-weight: 500;
  margin-left: 90px;
  line-height: 35px;
}
p.text-gray.top-Para {
  margin-top: 30px;
}

/* Back Image */
.shadowCards {
  position: absolute;
  top: 50px;
  right: 0;
}

/* Front Image */
.frontCards {
  position: absolute;
  top: 130px;
  right: -150px;
}

.pink-button {
  margin-top: 50px;
  font-size: 25px;
  text-transform: uppercase;
  margin-left: 140px;
  font-weight: 700;
}

.pink-button-image {
  width: 80px;
  position: absolute;
  left: 90px;
  top: 490px;
  z-index: -1;
}

.flex2 {
  display: flex;
  margin-top: 80px;
}

h1.text-white.large-text {
  font-size: 80px;
}

/*LogoBar  */
.logoBar {
  background-color: #292929;
  margin-top: 400px;
  display: flex;
  justify-content: space-around;
}
.logoBar > img {
  padding: 60px;
}

/* Payment */
.paymentSection {
  display: flex;
  justify-content: space-evenly;
  margin-left: 90px;
  margin-top: 190px;
}

.paymentHeading {
  color: #ffffff;
  font-size: 70px;
  font-weight: 900;
}

.textPink {
  color: #f637ec;
}

.paymentParagraph {
  margin-top: 80px;
  margin-right: 100px;
  margin-left: 100px;
  color: #cdcdcd;
  font-size: 22px;
  font-weight: 300;
  line-height: 35px;
}

/* Card Section */
.cardSection {
  display: flex;
  justify-content: space-evenly;
  margin-top: 150px;
  margin-bottom: 150px;
  text-align: center;
}

.card {
  border: 1px solid #ffffff;
  padding: 60px;
  color: #ffffff;
  background-color: #272727;
}
div.card.cardTop {
  margin-top: -60px;
  margin-bottom: 60px;
}

/* White Section */

.whiteSection {
  background-color: #fceffb;
  text-align: center;
}

.text-black {
  padding-top: 100px;
  color: #151515;
  font-size: 80px;
}

.text-Pink {
  color: #f637ec;
  font-weight: 900;
  font-size: 80px;
}

.whitePara {
  margin-top: 80px;
  font-size: 25px;
  margin-left: 300px;
  margin-right: 300px;
  color: #151515;
}

.lowSection > img {
  transform: rotate(90deg);
}
