body {
  background-color: #0e0e0e;
  font-family: 'Roboto', 'sans-serif';
}

.flex {
  display: flex;
  justify-content: space-around;
}

.text-white {
  color: #ffffff;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
}

.nav-items {
  list-style-type: none;
  display: flex;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
}

.nav-item {
  margin-left: 40px;
  margin-right: 40px;
}

.nav-button > button {
  border: none;
  background-color: #36363c;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  padding: 10px 40px;
  border-radius: 8px;
}

/* HEADER */

.bg-headphone > img {
  margin-left: 250px;
  margin-top: -130px;
  width: 200px;
}

.on-ear {
  margin-left: 14%;
  margin-top: 3%;
}

.text-white.heading {
  font-size: 4em;
  margin-top: 10px;
  margin-left: 8%;
}

.on-ear ~ p,
button {
  margin-left: 8%;
}

.text-white.sub-heading {
  font-size: 1em;
  font-weight: 600;
}
.text-white.para {
  width: 40%;
  line-height: 35px;
}

.Add-to-bag {
  border: none;
  background-color: #36363c;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 8px;
}

.Add-to-bag::before {
  display: inline-block;
  content: url('../Icons/shoppingBag.png');
  padding-right: 10px;
  position: relative; /*or absolute*/
  left: -10px;
  top: 2px;
}
.Add-to-bag > span {
  font-size: 20px;
  font-weight: 700;
  padding-left: 10px;
}

/* BRAND SECTION */
.brand-section {
  margin: 150px;
  display: flex;
  justify-content: space-around;
}

.brand-section > img {
  width: 90px;
}

/* SPEC */
.spec {
  text-align: center;
}

.spec-section {
  display: flex;
  justify-content: center;
  margin: 100px;
}

.spec-section > div > .top-bottom > img {
  margin-left: -50%;
}

.spec-section > div > .top-bottom > p {
  font-size: 1.2rem;
  margin-top: 2%;
  font-weight: 700;
}

.spec-section > div > .top-bottom > h5 {
  font-size: 0.8rem;
  margin-top: -8%;
  margin-left: -10%;
  font-weight: 300;
}

.middle > img {
  margin-left: -80%;
}

.middle > p {
  font-size: 1.2rem;
  margin-top: 2%;
  font-weight: 700;
  margin-left: -60%;
}

.middle > h5 {
  font-size: 0.8rem;
  margin-top: -8%;
  margin-left: -50%;
  font-weight: 300;
}

.fastCharge {
  margin-right: -35% !important;
}

.mic {
  margin-right: -42%;
}

/* CASE */
.case {
  text-align: center;
}

.case > img {
  margin: 70px;
}

.case-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.case-image {
  margin: 0 auto;
}

.case-image > img {
  margin-left: 70%;
}

.case-section > div > p {
  width: 20%;
  text-align: left;
  line-height: 30px;
  margin-left: 10%;
}

/* .case > button::before {
  display: inline-block;
  content: url('../Icons/group.png');
  padding-right: 10px;
}

.case > button {
  border: none;
  background-color: #36363c;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 8px;
} */

/* Dark Gray Section */
.gray-section {
  width: 60%;
  margin: 10% auto;
  display: flex;
  justify-content: center;
  background-color: #28282b;
  padding: 2rem;
  border-radius: 20px;
}

.gray-left-side {
  text-align: left;
}

.gray-left-side > p {
  font-size: 15px;
  font-weight: 100;
}

.gray-left-side > button::before {
  display: inline-block;
  content: url('../Icons/Group.svg');
  position: relative; /*or absolute*/
  left: -10px;
  top: 1px;
}

.gray-left-side > button {
  margin-left: -5px;
  margin-top: 5px;
  border: none;
  background-color: #000000;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 8px;
}
.gray-section > div > img {
  margin-left: 30%;
}

/* STYLE SECTION */
.style-logo {
  text-align: center;
  margin-bottom: 120px;
}
.style-grid {
  display: grid;
  width: 50%;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  row-gap: 100px;
  column-gap: 20px;
  justify-items: center;
}

.style-item {
  width: 80%;
  background-color: #181a1b;
  border-radius: 10px;
  aspect-ratio: 1/1;
}

.item-img {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 55%;
  aspect-ratio: 1/1;
}

.item-img img {
  width: 70%;
  margin: auto;
  transform: translateY(-35%);
}

.style-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40%;
  color: #ffffff;
}

.style-bold {
  font-weight: 600;
}

.style-simple {
  margin-top: 10%;
}

.style-shop-bag {
  margin-top: 10%;
  background-color: black;
  border-radius: 10px;
}

.style-shop-bag img {
  margin: 10px 13px 5px 13px;
}

.style-container {
  margin-bottom: 7%;
}

.form {
  background-color: #181a1b;
  display: flex;
  justify-content: center;
  padding: 12px;
  border-radius: 7px;
  margin-bottom: 5%;
}

.form-field {
  border: 0;
  outline: 0;
  background-color: #181a1b;
  color: white;
  margin-left: 10px;
}

.form-field::placeholder {
  color: #a3a6a8;
  margin-left: 20px;
}

.subscribe-btn {
  border: none;
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 10px 15px 10px 15px;
  margin-right: 10px;
  border-radius: 10px;
}

footer {
  display: flex;
  align-items: center;
  width: 98%;
  margin: auto;
}

.footer-lists {
  margin: 6% auto;
  display: flex;
  justify-content: space-between;
  width: 70%;
  flex-wrap: wrap;
  row-gap: 20px;
}

.footer-lists ul li {
  list-style-type: none;
  margin-bottom: 10%;
  font-size: 0.9rem;
  color: #a3a6a8;
}

.footer-lists h4 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 15%;
  color: #ffffff;
}

.social img {
  margin-right: 2%;
  width: 10%;
}

.up-arrow {
  margin-top: 7%;
  position: fixed;
  bottom: 140px;
  right: 30px;
}

.up-arrow img {
  width: 80%;
}

.up-arrow-btn {
  background-color: #181a1b;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out transform;
}

.up-arrow-btn:hover {
  transform: scale(1.2);
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #f6f8fa;
}

.mic {
  width: 70%;
}
